extends ../shared/template
block content
  h3 Traders
  table.table.table-bordered.table-hover#userTable
    thead
      tr
        th Name
        th Photo
    body
      each user in users
        tr
          td: a(href='/users/#{user.email}')=user.name
          td: .profile-photo(style='background-image:url(#{user.photo})')

block scripts
